@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #121417;
  --background: #f8f8f8;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f8f8f8;
    --background: #121417;
  }
} */

body {
  color: var(--foreground);
  background: var(--background)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.skeleton-pulse {
  background-color: #e5e7eb;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}
